<h2>
    

        <ul>
    {{#each Celebrities }}

    <li>
    
        {{name}} 
    <a href='/celebrities/{{_id}}'>View Details</a>

        </li>


    {{/each}}
</ul>

<a href="/celebrities/new">Add New Celeb</a>

</h2>


