<h1> Add Celebrity </h1>



<form action="/celebrities" method="post">

<ul>

<li> <label for="name">Name:</label>
<input type="text"> </li>

<li> <label for="occupation">Occupation:</label>
<input type="text">
</li>

<li> <label for="catchphrase">CatchPhrase:</label>
<input type="text"> </li>

<button type="submit">Add Celebrity</button>

</ul>


</form>

<h2> heaaa </h2>

