<h1> Add Celebrity </h1>



<form action="/celebrities" method="post">

<ul>

<li> <label for="name">Name:</label>
<input type="text" name="name" id="name"> </li>

<li> <label for="occupation">Occupation:</label>
<input type="text" name="occupation" id="occupation">
</li>

<li> <label for="catchphrase">CatchPhrase:</label>
<input type="text" name="catchphrase" id="catchphrase" > </li>

<button type="submit">Add Celebrity</button>

</ul>


</form>



